*.o
Makefile
autom4te.cache
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
config.rpath
configure
nwm.1
po/Makefile
po/Makefile.in
po/POTFILES
po/*.gmo
po/stamp-*
m4/
src/Makefile
src/nwm
doc
*.swp
.deps
ar-lib
.dirstamp
*.m4
libtool
ltmain.sh
test-driver
/Makefile.in
.settings/
googletest/
/googletest/
googletest