[Desktop Entry]
Name=nwm
Comment=joes window manager
Exec=nwm
TryExec=nwm
Type=Application
X-LightDM-DesktopName=nwm
DesktopNames=nwm
Keywords=tiling;wm;windowmanager;window;manager;

